@use "../vars/main.scss" as v;



h1{
  font-size: v.$font-size-h1;
  line-height: v.$line-height-h1;
}

h2{
  font-size: v.$font-size-h2;
  line-height: v.$line-height-h2
}

h3{
  font-size: v.$font-size-h3;
  line-height: v.$line-height-h3
}
