
/* Color Theme 1 */

$primary: "";
$on-primary: "";

$secondary: "";
$on-secondary: "";

$tertiary: "";
$on-tertiary: "";

$shadow: "";
$shadow-light:"";
$shadow-transp: "";

$background: "";
$on-background: "";

$white: "";
$black: "";
