
/* Define all the typographic settings :

    Font Size
    Line Height
    letter spacing
    word-spacing

    horieontal and vertical align

    number of character per lines can be define by ch unit (1ch = width on 0)
*/

@use "baseUnit" as base;

$font-size : base.$unit;
$line-height : $font-size * 1.3;
$letter-spacing : 1;
